@using CRMSystem.Common
@{
    this.ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Customer Dynamics!</h1>
        <p>One better CRM system</p>

        
    </div>
