@using (Html.BeginForm("Create", "Accounts"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
}
@model CRMSystem.Web.ViewModels.Accounts.AccountCreateViewModel
@{
    this.ViewData["Title"] = "Create new account";
}

<h1>@this.ViewData["Title"]</h1>


<form method="post" asp-action="Create">
    <div>
        <label asp-for="AccountName"></label>
        <input asp-for="AccountName" class="form-control" />
        <span asp-validation-for="AccountName" class="text-danger"></span>
    </div>


    <div>
        <label asp-for="TypeAccount"></label>
        <select asp-for="TypeAccount" asp-items="@new SelectList(Enum.GetNames(typeof(CRMSystem.Data.Models.AccountType)))" class="form-control"></select>
        <span asp-validation-for="TypeAccount" class="text-danger"></span>
    </div>
    <hr />
    <input type="submit" class="btn btn-primary" />
</form>
