@using CRMSystem.Common
@model CRMSystem.Web.ViewModels.Products.AllProductsViewModel
@{
    this.ViewData["Title"] = $"All products";
}

<div class="text-center">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
</div>
<hr />
<div class="align-content-center">
    <body class="align-content-center">
        <div class="text-left">
            <table width="400" cellpadding="10" cellspacing="30" class="table">
                <thead>
                    <tr>
                        <th>Product name</th>
                        <th>Created by</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Products)
                    {

                        <tr>
                            <td>
                                <h3 class="mt-0">
                                    <a href="@product.Url">
                                        @Html.DisplayFor(Model => product.Name)
                                    </a>
                                </h3>
                            </td>
                            
                            <td>
                                @Html.DisplayFor(Model => product.UserUserName)
                            </td>
                        </tr>

                    }
                </tbody>

            </table>

            <footer id="footer"></footer>

        </div>
    </body>
   
</div>


